* {
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 1.2px;
}
li {
	list-style: none;
}
button {
	width: 10vw;
	height: 5vh;
	margin: 0.3vw 1.2vw;
	font-size: 1.1vw;
	font-weight: 500;
	background-color: MediumAquaMarine;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	outline: none;
}
form > input {
	border: none;
	outline: none;
	border-bottom: #fff 2px solid;
	font-size: 1.3vw;
	color: #fff;
	background-color: transparent;
	text-align: center;
}
.pomotris {
	padding: 1.5vw;
	font-size: 4vw;
	font-weight: 700;
}
.timer {
	background-color: black;
	color: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 1.3rem 1rem 1.3rem 1rem;
}
.clock {
	padding: 1.5vw;
	font-size: 4vw;
	font-weight: 500;
}
.RecordWrapper {
	border: 2px solid Gainsboro;
	min-height: 200px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.recordList {
	padding: 0;
}
